# Object files
*.o
*.ko
*.obj
*.elf
*.slo
*.lo

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lai
*.lo

# Shared objects
*.so
*.so.*
*.dylib
*.dll

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Fortran module files
*.mod

# Build paths
/bin/*
/lib/*
